* {
  box-sizing: border-box;
}

body{/*Stile utile al footer*/
  display:flex;
  flex-direction:column;
  background-color: hsl(0, 7%, 81%);
}

html, body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body{
  min-height: 100vh;
}

#sfondo{
  margin: 0;
}

/*--------------------CSS relativo al Navbar--------------------*/

#navbar {
  margin: 0;
  padding: 0;
  background-color: #152D2D;
  top: 0;
  z-index: 2;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.navbar-content {
  float: left;
}

.navbar-content a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-content a:hover, .dropdown:hover .dropbtn {
  background-color: #8A0000;
  transition: all ease-in-out 0.2s;
}

div.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #CCC;
  transition: all ease-in-out 0.2s;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all ease-in-out 0.2s;
}

#s{
  border-left: 2px solid black;
  float: right;
}

.icon{
  float: right;
  color: #FFF;
  font-size: 15px;
  padding: 14px 18px;
  display: none;
  cursor: pointer;
}

.icon:hover{
  background-color: #8A0000;
  transition: all ease-in-out 0.2s;
}

/*-------------------------------------------------------------------*/

#titolo{
  font-size: 2em;
  text-align: center;
  color: #A1FFA0;
  background-color: #000;
  padding: 15px 0;
}

.sottotitolo{
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: 2px;
}

/*-------------------------------------------------------------------*/

.contenuti{
  /*display: grid;
  grid-template-columns: auto auto auto;*/
  position: relative;
  margin: 10px auto;
  width: 70%;
  border: solid black 0.15em;
  border-radius: 5px;
  text-align: justify;
  background-color: inherit;
}

.card{
  position: relative;
  float: left;
  margin: 3px 1%;
  border: solid #777 0.15em;
  border-radius: 5px;
  text-decoration: none;
  width: 23%;
  background-color: inherit/*hsl(202, 8%, 70%)*/;
  /*grid-column-start: 2;
  grid-column-end: 3;*/
}

.card:hover{
  cursor: pointer;
  box-shadow: 0 10px 20px -5px hsl(0, 0%, 25%);
}

.card:hover .prod{
  display: block;
}

.par{
  margin: 10px;
  /*grid-column-start: 1;
  grid-column-end: 4;*/
}

.descr{
  font: bolder 1.4em monospace;
  color: #000;
  letter-spacing: 0.15em;
  text-align: center;
  margin: 0;
  /*grid-column-start: 2;
  grid-column-end: 3;*/
}

.img{
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/*-------------------------------------------------------------------*/

/*-------------------------------------------------------------------*/

#footer{
  position: relative;
  top: 10px;
  background-color: #52BE80;
  margin-top:auto;
  letter-spacing: 3px;
  padding: 10px;
  color: #000;
  text-align: center;
}

.info:hover {
  filter: brightness(20%);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.info{
  color: #FFF;
}

/*-------------------------------------------------------------------*/

#contcarr{
  color: #ffbb00;
  background-color: inherit;
  border: 2px solid #ffbb00;
  border-radius: 25%;
  padding: 3px 9px;
  position: relative;
  top: -7px;
}

/*-------------------------------------------------------------------*/

/*-------------------------------------------------------------------*/

.prod{
  position: absolute;
  display: none;
  right: calc(50% - 105px / 2);
  left: calc(50% - 105px / 2);
  top: calc(50% - 105px / 2);
  color: white;
  border-radius: 15%;
  padding: 5px;
  background-color: hsl(0, 0%, 60%);
  width: 105px;
  height: 107px;
}

.prod:hover{
  background-color: hsl(0, 0%, 20%)
}

.prod-cont{
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
}

.prod-card{
  position: relative;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.rim{
  color: red;
  border: 1px solid #ff0101;
  border-radius: 5px;
  padding: 2px 3px;
  display: inline-block;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.rim:hover, #svuota-tutto:hover{
  cursor: pointer;
  box-shadow: 0 5px 10px -5px hsl(0, 0%, 25%);
}

#svuota-tutto, #prezzo-tot{
  border: 2px solid #4400ff;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}

#prezzo-tot{
  color: hsl(0, 7%, 81%);
  font-weight: 500;
  background-color: #4400ff;
}

#svuota-tutto{
  color: #4400ff;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*-------------------------------------------------------------------*/

/*-------------------------------------------------------------------*/

@media only screen and (max-width: 1452px) {
  .card {
    width: 46%;
    margin: 6px 2%;
  }
}

@media only screen and (max-width: 1000px) {
  .prod-cont{
    justify-content: space-around;
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 750px) {
  .prod-cont{
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 700px) {
  /*----------------CONTENUTO PER MOBILE-----------------*/
  .card {
    width: 96% !important;
    float: none;
  }
  /*-----------------------------------------------------*/

  /*--------------------NAVBAR MOBILE--------------------*/
  #s{float: left;}

  #navbar .navbar-content:not(:first-child), .dropdown .dropbtn {
    display: none;
  }

  #navbar a.icon {
    float: right;
    display: block;
  }

  /*Disposizione elementi navbar dopo aver cliccato su .icon*/
  #navbar.resp {position: relative;}

  #navbar.resp .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  #navbar.resp .navbar-content {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  /*Disposizione elementi dropdown dopo aver cliccato su .icon*/
  #navbar.resp .dropdown {float: none;}
  #navbar.resp .dropdown-content {position: relative;}
  #navbar.resp .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  #navbar.resp .navbar-content a{
    width: 100%;
    text-align: left;
  }

  #navbar #s{
    width: calc(100% - 50px);
  }
  /*-----------------------------------------------------*/
}

@media only screen and (max-width: 530px) {
  .prod-cont{
    justify-content: stretch;
    grid-template-columns: auto;
  }
}

/*-------------------------------------------------------------------*/
